/* 
============================================================
CSS Index
============================================================
1. Theme default css
2. Top-Header-Navbar
3. Bottom-Header-Navbar
4. Home Section
5. Brand Section
6. About Section
7. Features Section
8.  New-product Section
9.  Banner Section
10. All-Products Section
11. Blog Section
12. Choose Section
13. Customer Section
14. Contact Section
15. ScrollUp 
16.Scrollbar
*/

/*===========google font============*/
@font-face {
    font-family: Jost-ExtraLight;
    src: url(fonts/Jost-ExtraLight.ttf);
}
@font-face {
    font-family: Jost-Light;
    src: url(fonts/Jost-Light.ttf);
}
@font-face {
    font-family: Jost-Medium;
    src: url(fonts/Jost-Medium.ttf);
}
@font-face {
    font-family: Lobster-Regular;
    src: url(fonts/Lobster-Regular.ttf);
}

/* ==============================================================
                    1.Theme default css 
=================================================================*/
body {
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    overflow-x: hidden;

}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: rgb(33, 33, 90);
    text-decoration: none;
}

a,
button {
    color: #317ff2;
    outline: none !important;
}
li{
    list-style: none !important;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: none !important;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    color: #000000;
    font-style: normal;
    font-weight: 400;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212058;
}

h1 {
    font-size: 67px;
    font-weight: 600;
}



h3 {
    font-size: 32px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}


hr {
    border-bottom: 1px solid #818286;
    border-top: 0 none;
    margin: 10px 0;
    padding: 0;
}


label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #F29C1F;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #ffffff;
    font-size: 20px;
    opacity: 1;
}

*::placeholder {
    color: #333;
    font-size: 16px;
    opacity: 1;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    font-family: Jost-Medium;
}

.title {
    font-family: Jost-light;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}
.title:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50%;
    left: 95px;
    background: #F29C1F;

}
.text-area {
    font-family: Jost-light;
    color: #000;
    font-size: 18px;
    line-height: 30px;
}
.area{
    width: 100%;
    padding: 70px 0 70px 0;
    margin: 0;
}
.main{
    z-index: 10;
}
/* button style */
.btn {
    -moz-user-select: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: Jost-light;
    line-height: 18px;
    margin-bottom: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px 30px;
    z-index: 10;
    border-radius: 5px;
    background-color: #F29C1F;
    box-shadow: 5px 5px 20px rgba(148, 148, 147, 0.673), -5px -5px 20px #fffb;
}

.btn:hover {
    background-color: #E64C3C;
    color: #fff;
    box-shadow: none;
}

/*====================================================
            2. Top-Header-Navbar
======================================================*/

.header-area{
  width: 100%;
  background: #ffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 6px;
  z-index: 100;
  transition: background 0.5s;
}
.change_header_bg {
    background: #ffff;
    box-shadow: 0 4px 8px #152d4b71;
  }
.navbar-brand{
    display: flex;
    gap: 5px;
    font-size: 38px;
    color: #F29C1F;
    font-family: Lobster-Regular;
}
.navbar-brand:hover{
    color: #F29C1F;
}

.form-control{
    font-family: Jost-light;
    font-size: 16px;
    font-weight: 500;
    outline: none !important;
    border: 1px solid #F29C1F;
    border-radius: 4px 0 0 4px !important;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #F29C1F;
}
.form-area .btn{
    margin: 0;
    border-radius: 0 4px 4px 0 !important;
   }
.top-header-nav .nav .bg-warning{
   background: transparent !important;
   color: #F29C1F;
   font-size: 20px;
   transform: .3s;
}
.top-header-nav .nav-item .nav-link:hover .bg-warning{
    color: #E64C3C;
}
.top-header-nav .nav-item{
    display: flex;
    align-items: center;
    gap: 2px;
}
.top-header-nav .nav-item .nav-link{
    padding: 0;
	font-size: 18px;
    position: relative;
    font-family: Jost-Light;
    color: #121111;
    transition: .5s;
}

.top-header-nav .account{
    padding: 4px 15px;
    border: 1px solid #F29C1F;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(216, 216, 211, 0.673), -5px -5px 20px #fffb;
}
.top-header-nav .account:hover{
    border: 1px solid #E64C3C; 
    box-shadow:none
}


/*====================================================
           3.Bottom-Header-Navbar
======================================================*/
.navbar .toggle_nav{
  opacity: 0;
  font-size: 25px;
  color: #F29C1F;
  cursor: pointer;
}
.menu-area .nav_close{
    opacity: 0;
  }
.menu-area{
    opacity: 1;
  }
.menu-area .nav{
	margin-left: 60px;
}
.menu-area .nav .nav-item{
    margin-right: 20px;
}
.menu-area .nav .nav-item .nav-link,
.dropdown-menu .dropdown-item {
    padding: 5px 10px;
	font-size: 18px;
    position: relative;
    font-family: Jost-Light;
    color: #121111;
    transition: .5s;
}
.menu-area .nav .nav-item .nav-link:before,
.dropdown-menu .dropdown-item:before{
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background:#F29C1F;
  animation: underline 1s;
}
@keyframes underline {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.menu-area .nav .nav-item .nav-link:hover:before,
.dropdown-menu .dropdown-item:hover:before{
    display: flex;
}

.menu-area .nav .nav-item .nav-link.active:before,
.dropdown-menu .dropdown-item:hover:before{
    display: flex;
}
.menu-area .nav .nav-item .nav-link.active{
    color: #F29C1F;
}
.menu-area .nav .nav-item .nav-link:hover{
    color: #F29C1F;
}
.bottom-header-icons .bg-warning{
    font-size: 16px !important;
    padding: 6px;
    margin: 5px;
    background: #F29C1F;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(148, 148, 147, 0.673), -5px -5px 20px #fffb;
  }
.nav-area{
    position: relative;
    width: 100%;
}
 .menu-area .dropdowns .dropdown-menu{
     padding: 20px;
     margin: 20px;
     display: none;
     left: 370px !important;
     position: absolute;
     width: 600px;
     top: 30px;
     border: none;
     transition: .5s;
     box-shadow: 5px 5px 20px rgba(148, 148, 147, 0.673), -5px -5px 20px #fffb;

  }
  .dropdown-menu{
    box-shadow: 5px 5px 20px rgba(148, 148, 147, 0.673), -5px -5px 20px #fffb;
    border: none;
  }
  .dropdown-item{
    font-size: 18px;
    font-family: Jost-Light;
  }
  .list-group .list-group-numbered{
    width: 100%;
    margin-left: 70px;
  }
  .list-group-item h2{
    color: #F29C1F;
  }
  .dropdown:hover .dropdown-menu,
  .dropdowns:hover .dropdown-menu{
     display: block !important;
     left: 0;
  }
  .dropdown .dropdown-menu{
    width: 200px !important;
    text-align: center;
}
 
.dropdown .dropdown-menu .dropdown-item:hover{
   background: transparent;
}

  .dropdown-menu-card .btn{
        padding: 4px 10px;
        font-size: 15px;
  }
  .bottom-header-icons .bg-warning:hover{
    background: #E64C3C !important;
    box-shadow: none;
  }
  .bottom-header-icons .bg-warning.active{
    background: #E64C3C !important;
    box-shadow: none;
  }
/*====================================================
                4.Home Section
======================================================*/
.home{
    margin-top: 120px;
}
.home-area-text{
   margin: 0px 70px 0px 0px;
}
.home-img-area img{
    width: 100%;
    height: 100%;
    transition: .5s;
    transform: scale(1.2);
}
/*====================================================
               5.Brand Section
======================================================*/
.brand-area{
    margin: 0!important;
}
.brand-area .row{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.owl-theme .owl-dots{
    display: none;
}
.owl-theme .owl-nav{
    display: flex;
}

.owl-carousel .owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
    padding-bottom: 5px !important;
    background:#F29C1F;
    color: #fff;
 }
 .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: #E64C3C;
    color: #fff;
 }
/*====================================================
               6.About Section
======================================================*/
.about{
    position: relative;
    z-index: 10;
    margin: 0!important;

}
.about .bg img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-img-area:hover img{
    transform: scale(1.2);
  }
.about-img-area img{
  width: 100%;
}

.about-area-text{
    margin: 0px 0px 0px 70px;
 }

 /*====================================================
               7.Features Section
======================================================*/
#features{
    position: relative;
    margin: 0!important;
}
.feature-bg img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-title{
 z-index: 1;
 display: flex;
 justify-content: center;
 margin-bottom: 60px;
 position: relative;
 text-transform: capitalize;
 letter-spacing: 2px;
}
.section-title .bg{
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.card{
    padding: 15px 15px 0 15px;
    border: none;
    position: relative;
    border-radius: 6px;
    box-shadow: 5px 5px 20px rgba(154, 148, 148, 0.452), -10px -10px 20px #fffb;
    transition: .5s;
    border-bottom: 2px solid #F29C1F;
}
.card:hover{
    box-shadow:none
}
.card-right{
  border-bottom: 2px solid #E64C3C;
}
.card-center{
    border-bottom: 2px solid #BDE472;
}
.card-img-top{
  width: 40px;
  margin: 10px;
}
.mid-img img{
 width: 100%;
}
.card-title{
    font-family: Jost-light;
    font-size: 20px;
    font-weight: 600;
}
.card-right{
 display: flex;
 justify-content: start;
 align-items: flex-start;
}
.card-left{
    display: flex;
    justify-content: end;
    align-items: flex-end; 
}
.card-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
 /*====================================================
              8.New-product Section
======================================================*/
#new-product{
    margin: 0!important;
}
.section-title{
    position: relative;
}
.bg img{
    position: absolute;
    top: -60px;
    right: -50px;
}
.single-product{
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 20px rgba(154, 148, 148, 0.452), 10px 10px 20px #fffb;
    transition: .5s;
}
.single-product-title{
     font-family: Jost-light;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
 }
.single-product:hover{
    box-shadow:none
}
.single-product img{
    width: 100%;
    height: 200px;
}
.badge-single-product{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 8px 5px;
  box-shadow: 5px 5px 20px rgba(154, 148, 148, 0.452), 10px 10px 20px #fffb;
  top: 0;
  left: 0;
  background: #F29C1F;
  color: #fff;
  font-size: 15px;
}
.single-product-body{
    padding: 10px;
}
.single-product-body-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
    font-size: 16px;
}
.product-price{
    font-family: Jost-light;
    color: #F29C1F;
    font-size: 18px;
    font-weight: 600;
}
.product-icons .bg-warning{
    background: #F29C1F !important;
    color: #fff !important;
    transition: .5s;
    margin: 3px !important;
    cursor: pointer;

}
.product-icons .bg-warning:hover{
    background: #E64C3C !important;
    transform: scale(1.2);
}
 /*====================================================
               9.Banner Section
======================================================*/

.single-banner{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
    margin: 20px 0;
    overflow: hidden;
}
.single-banner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f27ea3bd;
    top: 0;
    left: 0;
    z-index: -4;

}
.single-banner .banner-image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.single-banner-content{
    z-index: 1;
    padding: 30px 20px;

}

.single-banner-content .single-banner-text h4{
    font-family: Jost-light;
    font-size: 23px;
    font-weight: 500;

}
.single-banner-content .single-banner-text h2{
    font-family: Jost-light;
    font-size: 29px;
    font-weight: 600; 
}
.single-banner-content .single-banner-text .btn{
    box-shadow: none;
}
.single-banner .single-banner-img{
    transition: .5s;
}
.single-banner:hover .single-banner-img{
    transform: scale(1.2);
}
 /*====================================================
               10.All-Products Section
======================================================*/
.all-product .bg img{
    left: -50px;
}
.all-product .carousel-control span .svg-inline--fa{    
    padding: 5px;
    background: #F29C1F ;
    font-size: 25px;
    color: #fff;
}
.all-product .svg-inline--fa.fa-chevron-left {
    margin-left: 0;
    left: 0;
}
.all-product .svg-inline--fa.fa-chevron-right {
    margin-right: 0;
    right: 0;
}
.carousel-control-next, 
.carousel-control-prev{
    width: 4%;
    background: transparent;
}
 /*====================================================
              11.Blog Section
======================================================*/
.single-blog{
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 5px 5px 20px #9a949473, 10px 10px 20px #fffb;
    margin: 10px;
}
.blog-img{
 overflow: hidden;
}
.single-blog img{
    width: 100%;
    height: 200px;
    transition: .5s;
}
.single-blog:hover img{
    transform: scale(1.2);
}
.blog-date-monuth{
    margin: -20px 10px 0 10px;
    position: relative;
    padding: 6px 20px;
    background: rgb(255, 255, 255);
    border-radius: 4px 4px 0 0;
}
.blog-date-monuth span{
    font-family: Jost-light;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;

}
.blog-date-monuth span .bg-warning{
    background: transparent !important;
    color: #F29C1F;
    font-size: 17px;
    margin-right: 5px;
}
.blog-text{
    padding: 20px;
}
.blog-text .card-title{
transition: .3s;
line-height: 28px;
padding: 0 !important;
margin-bottom: 10px;
}
.blog-text:hover .card-title{
    color: #F29C1F;

}

 /*====================================================
               12.Choose Section
======================================================*/
.choose-section{
    width: 100%;
    background: #F29C1F;
}
.img-area{
    border: 2px solid #F29C1F;
    overflow: hidden;
}
.img-area img{
    transition: .5s;
}
.img-area:hover img{
    transform: scale(1.2);
}
.choose-section .subtitle{
 font-size: 32px;
 margin-bottom: 10px;
}
.choose-content .btn{
    color: #F29C1F;
    background: #fff;
    box-shadow: none;
    
}
.choose-content .btn:hover{
    background: #E64C3C;
    color: #fff;
}
/*====================================================
              13.Customer Section
======================================================*/
.cust-body{
    margin: 20px 10px;
    padding: 25px;
    box-shadow: 5px 5px 20px #9a949473, 10px 10px 20px #fffb;
}
.cust-body-user img{
    border-radius: 50%;
    width: 70px;

}
.cust-body .cust-body-content .card-title{
    color: #F29C1F;
}
.star-icon{
    font-size: 16px;
    color: #F29C1F;
}

.customer .carousel-control span .svg-inline--fa{    
   display: none;
}
/*====================================================
              14.Contact Section
======================================================*/
.contact{
 padding: 30px 0;
 margin-bottom: 50px;
 
}
 /*====================================================
               12.Footer Section
======================================================*/
.footer{
    background: #F29C1F;
}
.footer-logo{
    font-size: 38px;
    color: #ffffff;
    font-family: Lobster-Regular;
}
.footer .footer-menu .nav-link{
  font-size: 18px;
  color: #fff;
  margin: 5px 0;
  transition: .5s;
  cursor: pointer;
  font-family: Jost-light;
}
.footer .footer-menu h3{
    font-size: 20px;
    margin: 0 0 15px 15px;
    color: #333231;
}
.footer .footer-menu .nav-link:hover{
    color: #000;

}
.footer hr{
    size: 2px;
    border-bottom: 1px solid #fff;
}
.footer-last-menu .nav-link{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}

.footer .text-area{
    color: #fff;
    font-size: 16px; 
}
.footer .footer-social-icon .bg-warning{
    box-shadow: none;
}
.paymeny-method img{
  width: 50px;
  margin: 12px;
}
/*====================================================
              15.ScrollUp
======================================================*/
#scrollUp {
    background: #F29C1F;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    border: 1px solid #fff;
}

#scrollUp:hover {
    background: #fff;
    color:  #F29C1F;
}

/*====================================================
              16.Scrollbar
======================================================*/

::-webkit-scrollbar{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background:  #F29C1F;
    height: 20%;
    border-radius: 4px;
}